

<div style="background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/newscms/2019_19/1436052/indoor-plant-today-main-190510-02.jpg'); height:600px;background-size: 99% 105% ;">

<H3 style="font-size: 250%;color: rgb(0, 12, 12);">    Contact details :</H3>

<ul style="font-style: bold;">
    <li> Name : Nursery </li>
    <li> Email : contact@Nursery.com</li>
    <li> Contact Number : 0123456789</li>
    <li> Address: A Block, Shivasagar Estate,
        Solapur-Pune Road,<br>
        Pune - 410032,Maharashtra,India</li>
</ul>

</div>