h1,p{
    color: rgb(26, 4, 37);
    font-weight: bold;
    font-style:italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    
}
h1{
    font-size: 200%;
}
body{
    background-image: "(1.png)";
    background-repeat: no-repeat;
    align-items: center;
    
}
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-online-plant-delivery-1638314748.jpg?crop=0.997xw:0.748xh;0,0.118xh&resize=980:*");
  
    /* Full height */
    height: 400px; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }