<body>
    <h1 style="text-align: center;"> * Nursery *</h1>
<div class="bg">
    
<!--img src= "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-online-plant-delivery-1638314748.jpg?crop=0.997xw:0.748xh;0,0.118xh&resize=980:*" alt=" Banner" style="width: 750px;height: 350px; margin-left: 280px;"-->
</div>

<p style="text-align: center;">
    We often don't think to buy plant online. But what if we tell you that you can now order 
    the most beautiful plants right from home?<br> Ugaoo presents a broad range of Live Plants
     that can be bought online in India.  online nursery collection includes Annual <br>
     Flowers, Aromatic and Aquatic Plants, Cactii, Bonsai, Ferns, Indoor and Outdoor Plants, 
     Landscape Plants, Bamboo, etc.<br><br><br><br><br></p>



</body>